<div class="tile is-parent is-fullheight">
    <article class="tile is-child notification inner">
        <div class="content">
            <h1 id="title">Shoesie</h1>
            <p>An app that helps you justify that new pair of shoes you probably cant afford!</p><br>
            <p>Become a |<a href="shoesies/new">Shoesie</a>|</p><br>
            <p>Already a Shoesie? Click |<a href="/shoesies">here</a>|</p>

        </div>
    </article>
</div>