<div class="tile is-parent is-fullheight">
    <article class="tile is-child inner">
        <div class="content">
            <h1 id="title">Shoesie</h1><br>

            <p>An app that helps you justify that new pair of shoes you probably cant afford!</p>

            Step 1: Enter the price of the desired shoesie <br>
            Step 2: Complete the Bills form on your page<br>
            Step 3: Enter your Income to find true or false <br>

            <br>
            <p>Become a <a href="shoesies/new">Shoesie</a></p>
            <p>Already a Shoesie? Click <a href="/shoesies">here</a></p>

        </div>
    </article>
</div>