#title {
  font: 56px 'Damion', cursive;
  line-height: 50px;
  color: #f1f1f1;
}

#subtitle {
  font: 40px 'Damion', cursive;
  color: #f1f1f1;
}

#booly {
  font: 34px 'Damion', cursive;
  color: #ffffff;
  margin: 0;
}

body {
  padding: 0px;
  font-family: 'Quicksand', sans-serif;
  font-weight: lighter;
  font-size: 20px;
  color: #f1f1f1;
}

h2 {
  color: #f1f1f1;
}

a {
  color: #f1f1f1;
  font-weight: bold;
}

.hero-body {
  background: rgb(55, 198, 214);
  background: -moz-linear-gradient(-45deg, rgba(55, 198, 214, 1) 0%, rgba(157, 32, 188, 1) 0%, rgba(97, 227, 232, 1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(55, 198, 214, 1) 0%, rgba(157, 32, 188, 1) 0%, rgba(97, 227, 232, 1) 100%);
  background: linear-gradient(135deg, rgba(55, 198, 214, 1) 0%, rgba(157, 32, 188, 1) 0%, rgba(97, 227, 232, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#37c6d6', endColorstr='#61e3e8', GradientType=1);
}

.tile {
  background: inherit;
  border: 2px solid #f1f1f1;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
}

.opa {
  background: rgba(220, 226, 230, 0.15)
}

.inner {
  border: 0;
  padding-top: 40px;
  padding-bottom: 40px;
}

.button {
  background: inherit;
  color: #f1f1f1;
  padding-right: 20px;
  padding-left: 20px;
}
.button:hover {
  color: #f1f1f1;
}

.field {
  width: 250px;
}

.boolybox {
  width: 80px;
  border: 1px solid #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 15px;
}

@media (max-width: 480px) {
  .tile {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
