<div class="tile is-parent">
  <article class="tile is-child inner notification">
    <div class="content">


      <h1 id="title">Edit Bills</h1>

      <form action='/shoesies/{{shoesie._id}}/bills?_method=PUT' method='POST'>

        <div class="field has-text-centered">
          <p class="control has-icons-left has-icons-right">
            <input class="input" type="text" name="rent" placeholder="Rent">
            <span class="icon is-small is-left">
              <i class="fa fa-home"></i>
            </span>
          </p>
        </div>

        <div class="field">
          <p class="control has-icons-left">
            <input class="input" type="text" name="carInsurance" placeholder="Car Insurance">
            <span class="icon is-small is-left">
              <i class="fa fa-car"></i>
            </span>
          </p>
        </div>

        <div class="field">
          <p class="control has-icons-left">
            <input class="input" type="text" name="power" placeholder="Electric">
            <span class="icon is-small is-left">
              <i class="fa fa-bolt"></i>
            </span>
          </p>
        </div>

        <div class="field">
          <p class="control has-icons-left">
            <input class="input" type="text" name="cc" placeholder="CC Payments">
            <span class="icon is-small is-left">
              <i class="fa fa-credit-card"></i>
            </span>
          </p>
        </div>

        <div class="field">
          <p class="control has-icons-left">
            <input class="input" type="text" name="other" placeholder="Other">
            <span class="icon is-small is-left">
              <i class="fa fa-mobile"></i>
            </span>
          </p>
        </div>
        <br><br>
        <div class="field is-grouped is-grouped is-grouped-centered">
          <div class="control">
            <button class="button">Submit</button>
          </div>

      </form>
    </div>
  </article>
</div>