<h1>Income(s)</h1>

<div>
        <div>Income: {{income.primaryIncome}}<br>
        Other Income: {{income.otherIncome}}<br>
        Total: {{shoesie.incomeTotal}}<br>
        <a href='/shoesies/{{shoesieId}}'>Go back</a></div>
</div>