<h1>Edit Shoesie</h1> 

<form action='/shoesies/{{shoesie._id}}?_method=PUT' method='POST'>
    <div>Username:<input type='text' name='shoesieName' value='{{shoesie.shoesieName}}'></div>
    <div><input type='submit' value='Updoot'></div>
</form>