<h1>The Shoesie Family <a href='shoesies/new'>( new )</a></h1>

<div>
    {{#each shoesies}}
        <div>Shoesie Name: {{this.shoesieName}} <a href='/shoesies/{{this._id}}'>Go to user</a></div>
    {{/each}}
</div>