<div class="tile is-parent is-fullheight">
    <article class="tile is-child notification is-warning">
        <div class="content">

            <h1 id="title">The Shoesie Family</h1>

            <div>
                {{#each shoesies}}
                <div><span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span> <a href='/shoesies/{{this._id}}'>{{this.shoesieName}}</a>
                {{/each}}
            </div>
            <a href='shoesies/new'> new </a>
        </div>
    </article>
</div>