<h1>Whats your name, Shoesie?</h1>
<form action='/shoesies/{{this._id}}' method="POST">
  <input type="text" name="shoesieName" placeholder="Name"><br>
  <input type="submit" value="Submit">
</form><br>
 <a href="/shoesies"><button>Back</button></a>