<div class="tile is-parent is-fullheight">
  <article class="tile is-child inner notification">
    <div class="content">

      <h1>Whats your name, Shoesie?</h1>
      <form action='/shoesies/{{this._id}}' method="POST">
        {{!-- <input type="text" name="shoesieName" placeholder="Name"><br>
        <input type="submit" value="Submit"> --}}

        <div class="field">
          <p class="control has-icons-left">
            <input class="input" type="text" name="shoesieName" placeholder="{{shoesie.shoesieName}}">
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </p>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link">Submit</button>
          </div>
      </form><br>
      

    </div>
  </article>
</div>
<a href="/shoesies"><button>Back</button></a>